<!DOCTYPE html>
<html>
<head>
    <title>FoodLens</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body,
        html {
            height: 100%;
            font-family: "Inconsolata", sans-serif;
        }
    .bgimg {
        background-position: center;
        background-size: cover;
        min-height: 100vh;
        margin-top: 100px;
        overflow-x: auto;
        background-image: url('static/builtin/image.jpg');
    }
</style>

</head>
<body>
    <!-- Links (sit on top) -->
    <div class="w3-top">
        <div class="w3-row w3-padding w3-black" style="display: flex; justify-content: space-between;">
            <div class="w3-col s2">
                <!-- Logo Section -->
                <a href="#" class="w3-button w3-block w3-black" style="pointer-events: none;">
                    <img src="static\builtin\ideogram.jpeg" alt="Logo" style="max-height: 30px; max-width: 100%;">
                </a>
            </div>
            <div class="w3-col s2">
                <a href="/" class="w3-button w3-block w3-black">HOME</a>
            </div>
            <div class="w3-col s2">
                <a href="/app" class="w3-button w3-block w3-black">Culinary Insights</a>
                <!-- Link to app.html -->
            </div>
            <div class="w3-col s2">
                <a href="/app2" class="w3-button w3-block w3-black">SnapPlate: Food Detective</a>
            </div>
            <div class="w3-col s2">
              <a href="/about" class="w3-button w3-block w3-black">About</a>
          </div>
        </div>
    </div>
    <!-- Header with image -->
    <header class="bgimg w3-display-container w3-grayscale-min" id="app"
        style="display: flex; justify-content: center; align-items: center; height: 100vh;margin-top: 10px;">
        <div class="container-box">
            <!-- Add Text Button and Image Button with class names at the top -->
        <!-- Rest of the content -->
        <div class="container">
            <div class="input-box">
                <h1>Enter Food Recipe or description</h1>
                <form action="/app" method="POST">
                    <textarea name="text" id="article-input" placeholder="Enter Food Description here" required>{{ request.form['text'] }}</textarea>
                    <div class="button-group">
                        <button type="submit" name="submit">Submit</button>
                        <!-- New "Speech" and "Scan" buttons -->
                        <button class="transparent-button" id="speech-button" onclick="startDictation(event)">Speech</button>
                    </div>
                </form>
            </div>
            <!-- Container box for Classification Result - Origin and Restrictive Ingredients -->
            <div class="combined-box">
                <!-- Container box for Classification Result - Origin -->
                <div class="origin-box">
                    <h1>Origin</h1>
                    {% if is_empty_result_origin %}
                        <p>Sorry, the data was not sufficient enough to Detect Origin of the food</p>
                    {% else %}
                        <ul class="origin-list">
                            {% for item in label_list_origin %}
                                <li class="result-text">{{ item.label }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <!-- Add your Origin content here -->
                </div>
                <!-- Container box for Classification Result - Restrictive Ingredients -->
                <div class="restrictive-box">
                    <h1>Restrictive Ingredients</h1>
                    {% if is_empty_result_ingredient %}
                        <p>No restrictive ingredients detected.</p>
                    {% else %}
                        <ul class="ingredient-list">
                            {% for item in label_list_ingredient %}
                                <li>{{ item.label }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <!-- Add your Restrictive Ingredients content here -->
                </div>
                <!-- New "Note" box -->
                <div class="note-box">
                    <h1>Note</h1>
                    <p>it's important to keep in mind that chefs often have their </p>
                    <p>own unique variations and may adjust recipes to suit their specialty.</p>
                </div>
            </div>
            <!-- Clear button -->
            <button onclick="clearResults()" type="button">Clear</button>
        </div>
    </div>
    <!-- Rest of your HTML code -->

    <!-- JavaScript for the clearResults() function -->
    <!-- JavaScript for the clearResults() function -->
    <script>
        // Function to clear results
        function clearResults() {
            // Clear the text in the textarea (input box)
            document.getElementById("article-input").value = "";

            // Replace the Origin result list with a message
            var originList = document.querySelector(".origin-list");
            if (originList) {
                originList.innerHTML = '<p>Enter new food description for results</p>';
            }

            // Replace the Restrictive Ingredients result list with a message
            var ingredientList = document.querySelector(".ingredient-list");
            if (ingredientList) {
                ingredientList.innerHTML = '<p>Enter new food description for results</p>';
            }
        }
        function startDictation(event) {
            if (window.hasOwnProperty('webkitSpeechRecognition')) {
                var recognition = new webkitSpeechRecognition();

                recognition.continuous = false;
                recognition.interimResults = false;

                recognition.lang = "en-US";
                recognition.start();

                recognition.onresult = function(e) {
                    document.getElementById('article-input').value = e.results[0][0].transcript;
                    recognition.stop();
                };

                recognition.onerror = function(e) {
                    recognition.stop();
                }
            }
        }
        window.onload = function() {
            var navbarHeight = document.querySelector('.w3-top').offsetHeight;
            document.querySelector('.container-box').style.marginTop = navbarHeight + 'px';
        }

    </script>


</header>
</body>
</html>
